@model AddProductFormModel

@{
    ViewData["Title"] = "Edit Product";
}

<h1>Edit</h1>

<h4>Product</h4>
<hr />

<partial name="_ProductFormPartial" model="@Model" />

<div>
    <a class="btn btn-primary btn-sm" asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
